.loginForm {
  width: min(350px, 90%);
  border: 1px var(--primary) solid;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  height: 460px;
  padding: 1rem 2rem 2rem 2rem;
  font-size: var(--font-md);
  font-weight: bold;
  border-radius: 30px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 2px 0px var(--primary);
  border: 3px blue solid;
}
.loginForm > input {
  font-size: var(--font-md);
  padding: 0.2rem;
  border: none;
  border-bottom: 1px black solid;
  background-color: rgb(243, 243, 243);
}

.emailLabel {
  margin-top: 2.5rem;
}
.emailLabel + input {
  margin-top: 1rem;
}
.passwordLabel {
  margin-top: 3.5rem;
}
.passwordLabel + input {
  margin-top: 1rem;
}
.userFormHide {
  display: none;
}
.formHeader {
  text-align: center;
}
.loginButton {
  text-align: center;
  padding: var(--btn-md);
  letter-spacing: 0.2rem;
  margin-top: 0.3rem;
  font-weight: bold;
  font-size: var(--font-md);
  width: 100%;
  color: var(--primary);
  background-color: var(--secondary);
  border-bottom: 2px var(--primary) solid;
  margin: 3.5rem auto 0 auto;
  white-space: nowrap;
  transition: all var(--quick-anim);
}
.loginButton:hover {
  border-radius: 25px;
  letter-spacing: 0.3rem;
}
.errorMessage {
  text-align: center;
  margin-top: 1rem;
  color: red;
  font-size: var(--font-md);
}
